

.customDialogWidth .next-input {
	width: 250px;
}

.classWidth{
	width: 250px;
}


.hide{
	opacity: 0
}

.over{
	overflow: auto;
	height: 200px
}

.item-title{
	font-size: 20px;

	/*border-bottom: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;*/

}