.navigation_max {
    width: 220px;
    padding: 10px 0px;
    height:100%;
}
.navigation_min {
    width: 100px;
    padding: 10px 5px 10px 30px;
}
#container {
    background-color: #F3F3F4;
    display: flex;
    min-width: 960px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#module_data {
    width: 100%;
    overflow: auto;
    padding: 10px 10px 10px 10px;
}

.next-breadcrumb .next-breadcrumb-item .next-breadcrumb-text{
    font-size: 14px;
    cursor: pointer;
}
.time-width .next-input-medium{
    width: 250px
}
.padding-10{
    /*padding: 10px 10px 10px 10px;*/
}

.borderSoild{
    display: flex;
    border-bottom: 3px solid #2E89DD;

}
/*.paddtingRight-5:hover{
    color: #ccc
}*/
.nav-border{
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 5px;
    border-bottom: 0px
}

.nav-border:hover{
    padding: 5px;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
    background: #2E89DD
}

.nav-border-active{
    padding: 5px;
    cursor: pointer;
    margin-right: 5px;
    color: #fff;
    background: #2E89DD
}

.paddtingRight-5{
    padding-right: 5px
}

.topicon{
    font-size: 10px;
    cursor: pointer;
}

.next-icon-mediums:before {
    width: 20px;
    font-size: 10px;
    line-height: inherit;
}

/*.topicon:hover{
    color: #ccc
}*/

.excep-buttons{
    position: fixed;
    z-index: 999;
}
.btrigger{
    /*background-color: white;*/
    border: none;
    padding: 0;
    display: inline-block;
    max-width: 238px;
    font-size: 14px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.btrigger_80 {
    /*background-color: #fff;*/
    border: none;
    padding: 0;
    display: inline-block;
    max-width: 80px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.next-table td .next-table-cell-wrapper {
    padding: 8px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    text-align: center;
}
.next-table td{
    border: 1px solid #ccc
}
.next-table th .next-table-cell-wrapper {
    padding: 8px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    text-align: center;
}

.nav_link{
    background: white;
    border-right: none;
}
.nav_link_unlink{
    background: white;
    border-right: none;
}

.nav_link_active{
    background: #f7f8fa;
    border-right: 2.5px solid #52a6fa;
}
/*.next-icon-goods:before {
    background-image:url("assets/goods.png");
}*/
.nav_link:hover {
    background: #f7f8fa;
    border-right: none;
}

.navigation_min .next-navigation-item-text {
    display: none;
}
.next-navigation-tree .next-navigation-item-custom-icon-ay:before{
    font-size: 12px;
    line-height: 12px;
}

.next-navigation-tree .next-navigation-item-custom-icon-ay-min:before{
    font-size: 20px;
    line-height: 12px;
}

.order-details-div{
    margin-top: 10px;
}

.order-details-table{
    width: 1000px;
    border-bottom: 1px solid #e6e6e6;
}

.order-details-table-a{
    color:#6DB5E5;
    margin-right: 10px;
}

.order-icon-copy{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-bottom:-2px;
    overflow: hidden;
    background: url(https://cdn.zzgdapp.com/trade/web/images/navicon20160519.png) no-repeat -48px 1px;
}

.next-tabs-strip>.next-tabs-bar .next-tabs-nav-container .next-tabs-nav-wrap .next-tabs-nav-scroll .next-tabs-nav .next-tabs-tab.next-tabs-tab-active{
    border-bottom: 2px solid #3089dc;
}

.next-tabs-bar{
    flex: none;
}
.next-tabs-content{
    flex: auto;
    display: flex;
}
.next-tabs-medium .next-tabs-content {
    padding: 16px 0px;
}
.next-tabs-small .next-tabs-content {
    padding: 12px 0px;
}
.next-tabs-small .next-tabs-nav-container {
    font-size: 14px;
}
.print-modal-table{
    margin-top: 20px;
    height: 100%;
    padding-bottom: 80px;
}

.print-modal-span{
    margin: 0 10px;
}

.print-modal-image{
    width: 337px;
    margin: 0 auto;
    margin-top: 10px;
}


#login {
    /*background-color: #F3F3F3;*/
    display: flex;
    min-width: 960px;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    background: url(../../../static/bg_banner.png) no-repeat center center;

}
#footer{
   position: absolute;
   bottom:10px;
   width: 100%;
   text-align: center;
   font-size: 12px;
   border-top: 1px solid #eee;padding-top: 10px
}

.bottom-10{
   padding-bottom: 5px
}

.nav-style{
    background:#fff;
    border-top: 3px solid #2E89DD;
    border-bottom: 1px solid #eee
}

.index-title{
    font-size: 25px;
    font-weight: 400;
    color: #333
}
.index-info{
    color: #333
}


.block{
    display: block;
    text-align: center;
    /*width: 100px*/
}

.loginImg{
    width: 40%;
    height: 40%;
    border-radius: 500px
}

.container-white{
    width:76%;
    background: #fff;
    position: absolute;
    height: 100%;
    z-index: -9999;
    top: 0;
    left: 12%
}

.block .next-input-medium{
    width: 40%;
    border: 0px;
}

.block .next-btn-medium{
    width: 40%;
    border-radius: 20px;
    height: 40px;
    font-size: 20px
}

.block input{
    border-radius: 20px;
    border: 1px solid #e5e5e5;
    /*font-size: 30px;*/
    font-family: "微软雅黑";
    height: 40px
}

.label label{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px
}
.loginBcakground{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: -99999;
    top:0px;
    left:0px
}

.login-width{
    width: 300px;
    padding: 20px;
    border:4px solid #e5e5e5;
    margin-left: 45%;
    background:#fff;
}

.guns-title{
    font-family: "微软雅黑";
    font-size: 30px;
    font-weight: 350;
    color: #333;
    padding: 5px;
    text-align: center;
}

.flexStyles{
    justify-content: flex-end;
    width: 140px;
    display: flex;
}

.text-center{
    text-align: center;
    justify-content: center;
}
.PersonalCenter{
    text-align: center;
    justify-content: center;
    border: 1px solid #eee;
    height: 100%;
    overflow: auto;
    /*padding: 10px*/
}

.input-width{
    width: 50%;
    text-align: left;
}

.tips-title{
    font-weight: bold;
    font-size:24px;margin-top:7px;width:80px;
}

.border-bottom{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px
}

.space-bottom{
    padding-bottom: 10px;
    margin-bottom: 10px
}

.space-bottom-20{
    padding-bottom: 10px;
    margin-bottom: 20px
}

.text-left{
    text-align: left;
}

.changePassword{
    text-align: center;
    justify-content: center;
    border: 1px solid #eee;
    height: 100%;
    overflow: auto;
    padding: 10px;
    display: flex;
    /*align-items: center;*/
    padding-top: 50px
}


.flex-end{
    justify-content: flex-end;
    display: flex;
    width: 100px
}

.detail-width{
    width: 300px;
    font-size: 14px
}

.marginTop-20{
    margin-top: 20px;
}

/*.next-table-selection .next-checkbox .next-checkbox-inner{
    display: none
}

.next-table-body .next-checkbox .next-checkbox-inner{
    display: inline-block;
}*/

.warining{
    font-size: 20px;
    color: red;
    margin-bottom: 15px
}

.marginBottom{
    margin-bottom: 10px
}

.Dialog-height{
    height: 1000px;
    /*overflow: hidden;*/
}
.next-table-row{
    height: 70px
}

.next-table-row{
    background: #F3F3F3;
}
.next-table-empty{
    background: #F3F3F3;
}

.next-table-row:hover{
    background: #e5e5e5;
}
th .next-table-cell-wrapper{
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #333;
    font-size: 13px
}


.next-table-cell-wrapper{
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    color: #333;
    font-size: 13px
}

.top-sumtext{
    font-size:14px;
    margin-top:7px;
    width:85px;
    margin-left:12px;
    font-weight: bold;
}

.top-sumtext-bold{
    font-size:14px;
    margin-top:7px;
    width:85px;
    font-weight: bold;
    /*flex: 1*/
}

.top-width{
    font-size:14px;
    margin-top:7px;
    /*width:85px;*/
    font-weight: bold;

    /*flex: 1.5*/
}

.text-width{
    font-size:13px;
    margin-top:7px;
    padding-left: 10px;
    font-weight: bold;
    /*flex: 1*/
}

.text-center{
    font-size:14px;
    margin-top:7px;
    font-weight: bold;
}

.display-flex{
    flex:1;
    display:flex;
    /*text-align: center;*/
}

.display-flex-100{
    display:flex
}
.paddingTop{
    padding-top: 10px;
    /*padding-left: 12px*/
}

.paddingLeft-12{
    padding-left: 12px;
}

.borderStyle{
    width: 50%;

}
.loginImg1{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border:1px solid #F3F3F3;
}

.middle-center{
    display: flex;align-items: center;justify-content: center;
}
.input-width-l{
    width: 50%;
    text-align: left;
    /* justify-content: center; */
    align-items: center;
    display: flex;
}

.personal-text{
    font-size:14px;margin-top:4px;
}

.height-20 .next-table-row{
    height: 40px;
}
